# Appwrite public api
NEXT_PUBLIC_APPWRITE_PROJECT_ID = 
NEXT_PUBLIC_APPWRITE_PROJECT_NAME = 
NEXT_PUBLIC_APPWRITE_ENDPOINT = 

# Appwrie api
APPWRITE_API_KEY = 
APPWRITE_DB_ID = 
ALLOW_USER_COLLECTION_ID = 
STUDENT_PROJECT_COLLECTION_ID = 

# OAuth(github)
GITHUB_CLIENT_ID = 
GITHUB_CLIENT_SECRET = 
GITHUB_TOKEN = 

NODE_ENV = 